# Discord Bot Token used for authenticating your bot
BOT_TOKEN=

# Bot prompt: use "prompt.md" to load from file, or an inline prompt string
#BOT_PROMPT=prompt.md
BOT_PROMPT="You are a helpful dog who replies only in woofs"

# Name of the bot in Discord, also used to identify the Docker container name
BOT_NAME=

# Name of your Application in Honcho
APP_NAME=

# Name of the Language Model you're using via openrouter
MODEL_NAME=
# The API key for openrouter
MODEL_API_KEY=

# The URL of the Honcho server
HONCHO_URL=

# The API key for the Honcho server
HONCHO_API_KEY=
